{% extends "base.html" %}
{% block title %}Añadir saldo{% endblock %}
{% block body_class %}dashboard-background{% endblock %}

{% block content %}
<div class="profile-form-container">
    <h2>➕ Añadir saldo mensual</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_cuenta">Cuenta</label>
            {{ form.cuenta }}
        </div>
        <div class="form-group">
            <label for="id_saldo">Saldo (€)</label>
            {{ form.saldo }}
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
{% endblock %}
